
@{
    Layout = null;
    if (Session["userID"] == null)
    {
        Response.Redirect("~/Login/Index");
    }
}

    <html>
    <head>
        <title>Hello</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
    </head>
    <body>
        <div>
            <h1>Dashboard</h1>
            <h4>Greetings @Session["userName"].ToString()</h4>
            <a href="@Url.Action("LogOut","Login")">Logout</a>
        </div>
    </body>
    </html>

